# library requirements
six
bs4
requests

# documentation requirements
Sphinx>=1.5.3
sphinx_rtd_theme>=0.2.4

# build requirements
wheel>=0.30.0a0
setuptools>=34.3.3

# test requirements
pytest>=3.0.7
pytest-cov>=2.4.0
mock>=2.0.0
flake8>=3.3.0
flake8-docstrings==1.1.0
flake8-import-order>=0.12
flake8-todo>=0.7
